{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Primer taller de Analisis de Informacion sobre Big Data 4102-20162">
	<meta name="author" content="Grupo 4">
	<title>Primer Taller MINE 4201 20162 - Grupo4</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'taller1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'taller1/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'taller1/vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'taller1/vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'taller1/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'taller1/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div class="col-md-0"></div><div class="starter-template">
        <p></p>
		<h3>Universidad de los Andes - 4102-20162 Analisis de informacion sobre BIG DATA </h3>
		<h3>Taller No.1 - Grupo 4 - vl.aranda140,  jd.dazag, ca.diaz2631</h3>
		
 <div class="container">	
<div class="panel-heading">
Reto No. 1 Crawling
<p>Exploracion dentro del sitio de la Universidad de Los Andes que lista todos los eventos</p>
</div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
						<form role="form">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre del Evento</th>
										<th>Dependencia</th>
										<th>Fecha</th>
										<th>Hora</th>
										<th>Lugar</th>
										<th>Nombre Contacto</th>
										<th>Correo contacto</th>
										<th>Enlace Mayor Informacion</th>
										<th>Resumen del Evento</th>
										<th>Palabras Clave</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									  </tr>
									  <tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									  </tr>
									  <tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									  </tr>
								</tbody>
                            </table>
							</form>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
    </div>
<div class="container">	

<div class="container">	
<div class="panel-heading">
    Reto No. 2 Gestion de RSS
<p>Exploracion de los RSS de BBC Mundo y The HuffPost en Espanol</p>
</div>
	<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista de titulos
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                     
							<table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Titulos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12">
				    <div class="container">	
					<div class="col-lg-6">
					<div class="panel panel-default">
					<div class="panel-heading">
                            Filtro de Consulta
                        </div>
					<div class="form-group">
                                            <label>Seleccione su filtro:</label>
                                            <select class="form-control">
                                                <option>Seleccione</option>
												<option>Titulo</option>
												<option>Descripcion</option>
												<option>Categoria</option>
                                            </select>
                                        </div>
						 <! --debes de ingresar la opcion que quieres en numero--> 
					<form action="taller1/views.py"> 
							

						 <div class="form-group">
						 
                                            <label>Búsqueda</label>
                                            <input class="form-control" ,name="opcion", placeholder="Consulta">
                                        </div>
										<button type="submit" class="btn btn-default">Consultar</button>
                                        <button type="reset" class="btn btn-default">Limpiar</button>
					</form> 
					</div>
						</div>
						<div class="col-lg-12">
						<div class="panel panel-default">
						<div class="panel-heading">
                            Resultado Filtro con RegEx
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
						 
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                        </tr>
                                    </thead>
                                    
                                        <tbody>
                                    {% for titulo in lista_prueba %}
                                        <tr>
                                            <td>{{ titulo }}</td>
                                         </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
						<!-- /.panel-body -->
						<div class="panel-heading">
                            Resultado Filtro con XQuery
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
						     <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Fecha</th>
                                            <th>Responsable</th>
                                            <th>Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
						<!-- /.panel-body -->
                    
                    <!-- /.panel -->
					</div>
					</div>
                    </div>    
                 
                </div>
                <!-- /.col-lg-6 -->
            </div>
</div>       

    <!-- jQuery -->
    <script src="{% static 'taller1/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'taller1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'taller1/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'taller1/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'taller1/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'taller1/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'taller1/dist/js/sb-admin-2.js' %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
